---
import ProjectCard from './ProjectCard';
import { dictionaries } from "../i18n";

const locale =
  Astro.cookies.get("locale")?.value === "pt" ? "pt" : "en";

const t = dictionaries[locale];

type ProjectId = keyof typeof t.projects.projectsList;

type Project = {
  id: ProjectId;
  image: string;
  imagePosition?: string;
  github: string;
  technologies: { name: string; icon: string }[];
};

const projects: Project[] = [
  {
    id: 'simpleCRM',
    image: 'https://media.discordapp.net/attachments/1419486319184318595/1458992005664473260/Screenshot_From_2026-01-08_22-06-04.png?ex=6961a7b0&is=69605630&hm=2746a8e0b6055b921aab83d0ee1c578b941c7132a24dd5d0837c12a3d1380d23&=&format=webp&quality=lossless&width=1653&height=828',
    imagePosition: 'center 8%',
    github: 'https://github.com/teteudeveloper/SimpleCRM',
    technologies: [
      { name: 'Next.js', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg' },
      { name: 'React', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg' },
      { name: 'TypeScript', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg' },
      { name: 'Tailwind CSS', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg' },
      { name: 'Prisma', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/prisma/prisma-original.svg' },
      { name: 'PostgreSQL', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg' },
      { name: 'Docker', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg' }
    ]
  },
  {
    id: 'orderFlow',
    image: 'https://media.discordapp.net/attachments/1419486319184318595/1458993178752454771/ABS2GSn48PhY4ygyQw3-fVuGyo3-I3_qZMBB_dCydezZ1EG6JzLwdyy5j7S8G0aRfIY20OCp3q9X8spDR0mMdh63YcBqzVEjiaBl8TMmNLP0-iLktHg2rIs9cDTnj4RjN504fD-tZOKUG9CGVGLBe8fgF08GeX-AbcTNwz_3e1PyJmOcB2gBcQs1024-rj.png?ex=6961a8c8&is=69605748&hm=f61839eada58b99b2456e910337560aa6abd6525614ea7f869fffc900ee3ee04&=&format=webp&quality=lossless&width=1280&height=699',
    imagePosition: 'center 8%',
    github: 'https://github.com/teteudeveloper/orderflow-api',
    technologies: [
      { name: 'Java', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg' },
      { name: 'Spring Boot', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg' },
      { name: 'Spring Data JPA', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg' },
      { name: 'PostgreSQL', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg' },
      { name: 'Docker', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg' }
    ]
  },
    {
    id: 'saldofy',
    image: 'https://media.discordapp.net/attachments/1419486319184318595/1458992006020857906/Screenshot_From_2026-01-08_22-06-57.png?ex=6961a7b0&is=69605630&hm=f40832481cfeaf616316b9459a1c93d9f2ae053585849d18caae50e68a6f1f8f&=&format=webp&quality=lossless&width=1653&height=828',
    imagePosition: 'center 8%',
    github: 'https://github.com/teteudeveloper/Saldofy',
    technologies: [
      { name: 'Next.js', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg' },
      { name: 'TypeScript', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg' },
      { name: 'Tailwind CSS', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original.svg' },
      { name: 'Prisma', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/prisma/prisma-original.svg' },
      { name: 'PostgreSQL', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg' },
      { name: 'Docker', icon: 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg' }
    ]
  },
];

const translatedProjects = projects.map((project) => ({
  ...project,
  title: t.projects.projectsList[project.id].title,
  description: t.projects.projectsList[project.id].description,
}));
---

<section
  id="projects"
  class="min-h-screen pt-16 bg-bg-light dark:bg-bg-dark text-text-light dark:text-text-dark"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-20">
    <div class="max-w-7xl mx-auto">
      <div class="text-center mb-16">
        <h2 class="text-5xl lg:text-6xl font-bold mb-6">
          {t.projects.title}
        </h2>
        <p class="text-lg sm:text-xl opacity-80 max-w-2xl mx-auto">
          {t.projects.description}
        </p>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
        {translatedProjects.map((project) => (
          <ProjectCard project={project} client:load />
        ))}
      </div>
    </div>
  </div>
</section>
